<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jenshen.smartmirror">

    <permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".app.SmartMirrorApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/App.Theme"
        tools:replace="theme">
        <activity
            android:name=".ui.activity.splash.SplashActivity"
            android:noHistory="true"
            android:theme="@style/App.Theme.Splash.Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3b1adbe3949cfd0e01ca89038fa1a880df54aa38" />

        <activity
            android:name=".ui.activity.start.StartActivity"
            android:theme="@style/App.Theme.Start.Activity" />
        <activity
            android:name=".ui.activity.signIn.SignInTunerActivity"
            android:theme="@style/App.Theme.SignInTuner.Activity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.start.StartActivity" />
        </activity>
        <activity
            android:name=".ui.activity.signup.tuner.SignUpTunerActivity"
            android:theme="@style/App.Theme.SignUpTuner.Activity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.signIn.SignInTunerActivity" />
        </activity>
        <activity
            android:name=".ui.activity.choose.mirror.ChooseMirrorActivity"
            android:theme="@style/App.Theme.ChooseMirror.Activity" />
        <activity
            android:name=".ui.activity.settings.SettingsActivity"
            android:theme="@style/App.Theme.Settings.Activity" />
        <activity
            android:name=".ui.activity.signup.mirror.SignUpMirrorActivity"
            android:theme="@style/App.Theme.Settings.Activity" />
        <activity
            android:name=".ui.activity.dashboard.mirror.MirrorDashboardActivity"
            android:theme="@style/App.Theme.Settings.Activity" />
        <activity
            android:name=".ui.activity.qrScan.QRCodeScanActivity"
            android:permission="android.permission.CAMERA"
            android:theme="@style/App.Theme.QRCodeScanner.Activity" />
        <activity
            android:name=".ui.activity.edit.mirror.EditMirrorActivity"
            android:theme="@style/App.Theme.EditMirror.Activity" />
    </application>

</manifest>